.address-section{
    border: 1px solid #D9D9D9;
}

.our-address-listing{
    border-bottom: 1px solid #D9D9D9;
    padding: 20px;
}

.btn-delete{
    width: 100px;
    height: 40px;
    border: 1px solid #BF3900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.btn-delete:hover{
    color: white;
    border: none;
    background: #BF3900;
}